@import 'reset';
@import 'variablesUtilities';

// NAVIGATION DESKTOP
.nav-main-container {
    background-color: $main-color;

    .nav-sub-container {
        max-width: $default-mx-width;
        margin: 0 auto;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .nav-logo-text-wrapper {
            display: flex;
            align-items: center;
            color: $white-text;
            font-size: $default-text-size;

            .nav-logo-text {
                padding-left: 12px;
                line-height: 1.3;
                font-size: 14px;
                font-style: italic;
            }
        }

        .nav-logo img{
            max-width: 100%;
            height: auto;
        }

        .nav-items {
            display: flex;

            li a {
                display: block;
                padding: 10px 15px;
                color: $white-text;
                background-color: $main-color;
                transition: 0.5s ease;

                &:hover {
                    background: $secondary-color;
                    
                }
            }
        }

        .nav-toggler {
            font-size: 22px;
            color: $white-text;
            display: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

}

// HOMEPAGE MAIN SECTION STYLE DESKTOP
main {
    position: relative;
    top: 0;
    transition: 0.5s ease;
}

// HOMEPAGE HEADER HERO IMAGE DESKTOP

header {
    background-image: url("../img/show_hero_image_banner_1.jpg");
    background-attachment: fixed;
    height: calc(100vh - 87px);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    
    &::before {
        content: "";
        position: absolute;
        background-color: rgba(0,0,0,0.3);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .header-sub-container {
        max-width: $default-mx-width;
        margin: 0 auto;
        padding: 10px 15px;
        color: $white-text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100%;
    }
}

// HOMEPAGE TOP SECTION 1 DESKTOP
.top-section-1 {
    max-width: $default-mx-width;
    padding: $padding-md-xy;
    margin: 80px auto;
    color: $secondary-color;

    &-container {

        .top-section-item-1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: center;
                padding: 20px 0 0;
                font-size: 16px;
            }

            h2 {
                text-align: center;
                color: $active-button-color;
                padding: 10px 0 5px;
            }
        }

        img {
            max-width: 200px;
            height: auto;
            display: block;
            padding: 0 0 15px;
            animation-name: steeringWheel;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    }
}

// HOMEPAGE TOP SECTION 2 GALLERY DESKTOP
.top-section-2 {
    margin: 80px 10px;

    &-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
      
    }
}

// MODAL IMAGE
.modal-img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0,0,0,0.7);
    color: $secondary-color;
    display: none;

    &-container {
        margin: auto;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 10px;

        &-sub {
            position: relative;

            img {
                width: 100%;
                display: block;
            }

            i {
                display: block;
                position: absolute;
                top: 5px;
                right: 8px;
                color: $white-text;
                font-size: 28px;
                transition: 0.5s ease;
                padding: 5px;

                &:hover {
                    cursor: pointer;
                    transform: rotate(180deg);
                }
            }
        }
    }

    .modal-description {
        background: $white-text;
        padding: $padding-sm-xy;
        font-size: 14px;
        box-shadow: 1px 1px 5px;
    }
}

// ORGANIZATION STARTERS HOMEPAGE SECTION
.org-starters {
    max-width: $default-mx-width;
    margin: 80px auto;
    padding: 25px 20px;

    &-container {
        padding-top: 40px;

        .person {
            display: flex;
            align-items: center;
            padding: $padding-sm-y;
            gap: 15px;

            &-description {
                font-style: italic;

                .title {
                    font-weight: bold;
                }
                
            }
        }
        
        .person-headshot {

            
            img {
                width: 150px;
                display: block;
                border-radius: 50%;
                border: 3px solid rgba(238, 178, 17, 0.6);
            }
        }
    }

    h2 {
        text-align: center;
        color: $active-button-color;
    }
}

// PACKAGES SECTION HOMEPAGE DESKTOP
.package {
    max-width: $default-mx-width;
    margin: 80px auto 100px;

    h2 {
        text-align: center;
        color: $active-button-color;
        padding: 10px 20px 5px;
    }

    &-container {
        padding: 70px 10px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap: 30px 15px;
    }

    &-item {
        box-shadow: 1px 1px 10px rgba(0,0,0,0.3);

        img {
            width: 100%;
            display: block;
            max-height: 300px;
        }
    }

    &-description {
        padding: $padding-sm-xy;
        text-align: center;

        .title {
            font-weight: bold;
            padding: 10px;
        }

        .text {
            font-size: 14px;
        }
    }
}

// FOOTER DESKTOP
.footer {
    background-color: $main-color;
    margin-top: 40px;
    color: $white-text;

    &-container {
        max-width: $default-mx-width;
        margin: auto;
        padding: 30px 20px;
    }

    &-logo-text {
        padding-bottom: 25px;
        font-size: 15px;
        font-style: italic;
        line-height: 1.4;

        img {
            display: block;
        }
    }

    &-sub-container {
        display: flex;
        justify-content: space-between;

        a {
            color: $white-text;
            transition: 0.5s ease;

            &:hover {
                color: $active-button-color;
                text-decoration: underline;
            }
        }

        .social-links {
            display: flex;

           a {
               font-size: 20px;
               background: $active-button-color;
               margin-left: 5px;
               width: 40px;
               height: 40px;
               text-align: center;
               border-radius: 50%;
               padding-top: 5px;
               display: block;
               transition: 0.5s ease;

               &:hover {
                   background-color: $white-text;
               }
           }
            
        }

        .title {
            font-weight: bold;
            letter-spacing: 0.5px;
            padding-bottom: 10px;
        }
    }
}

// END FOOTER DESKTOP
.end-footer {
    background: $active-button-color;
    color: $white-text;

    &-container {
        max-width: $default-mx-width;
        margin: auto;
        padding: 20px;

        p {
            font-size: 14px;
        }

        a {
            color: $white-text;
            border-bottom: 1px solid $white-text;
            padding-bottom: 2px;

            &:hover {
                color: $main-color;
                border-bottom: 1px solid $main-color;
            }
        }
    }
}

// SPONSOR HEADER HERO IMAGE DESKTOP

.half-header, .about-header {
    background-image: url("../img/sponsors/sponsors_banner.jpg");
    background-attachment: fixed;
    height: 50vh;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    
    &::before {
        content: "";
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .header-sub-container {
        max-width: $default-mx-width;
        margin: 0 auto;
        padding: 10px 15px;
        color: $white-text;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100%;
        text-align: center;
    }
}

// SPONSOR TOP SECTION
.sponsor {
    max-width: $default-mx-width;
    margin: 80px auto;
    padding: $padding-md-xy;

    &-container {

        h2 {
            color: $active-button-color;
            padding-bottom: 40px;
        }

        ul {
            text-indent: 20px;
            padding-bottom: 20px;

            li {
                padding-bottom: 5px;
            }

            i {
                color: $active-button-color;
                font-size: 20px;
                padding-right: 10px;
            }
        }
    }
}

// SPONSOR HEADHOTS
.sponsor-intro {
    max-width: $default-mx-width;
    padding: $padding-md-xy;
    margin: 80px auto;

    &-container {
        
        h2 {
            color: $active-button-color;
        }

        .sponsor-headshots {
            padding-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 25px;

            img {
                max-width: 100%;
                display: block;
                border-radius: 50%;
                border: 3px solid $main-color;
                margin: auto;
            }

            .sponsor-name {
                font-weight: bold;
                text-align: center;
                padding: 10px 0 0;
                font-style: italic;
            }

            .sponsor-desc {
                font-style: italic;
                text-align: center;
            }
        }
    }
}

// ABOUT US HEADER DESKTOP
.about-header {
    background-image: url("../img/about/about_us_banner.jpg");

    &-container {
        max-width: $default-mx-width;
        margin: 0 auto;
    }

    &-top {
        max-width: $default-mx-width;
        padding: $padding-md-xy;
        margin: 80px auto;

        h2 {
            color: $active-button-color;
            padding-bottom: 30px;
        }

        .about-gallery {

            &-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 10px;
            }

            img {
                display: block;
                max-width: 100%;
                margin: 0 auto;
            }

            &-text {

                .title {
                    padding: 30px 0 15px;
                }
            }
        }
    }
}

// FREQUENLTY ASKED QUESTIONS
.faqs {
    max-width: $default-mx-width;
    margin: 80px auto;
    padding: $padding-md-xy;

    &-container {

        .custom-h2 {
            padding-bottom: 30px;
            color: $active-button-color;
        }

        &-main {


            .faqs-items {
                border-bottom: 1px solid #c0b9b9;
                margin-bottom: 15px;

                .faqs-title {
                    display: flex;
                    justify-content: space-between;

                    .icon {
                        font-size: 30px;
                        align-self: flex-start;

                        &:hover {
                            cursor: pointer;
                            color: $main-color;
                        }
                    }
                }

                .desc {
                    display: none;
                }
            }
        }
    }
}

// SHOW LOCATION
.show-location {
    max-width: $default-mx-width;
    margin: 80px auto;
    padding: $padding-md-xy;

    .custom-h2 {
        padding-bottom: 30px;
        color: $active-button-color;
    }

    &-container {
        display: flex;
        gap: 20px;

        .item {
            display: flex;
            
            i {
                font-size: 25px;
                padding-right: 5px;
                color: $active-button-color;
            }

            &-1 {
                padding-top: 20px;

                h3 {
                    padding-bottom: 10px;
                }

                i {
                    font-size: 25px;
                    color: $active-button-color;
                    padding: 0 5px 10px 0;
                }

                a {
                    color: $main-color;
                    
                    &:hover {
                        color: $active-button-color;
                    }
                }
                
            }
        }
        
    }
}


















// 768PX
@media (max-width: $media-tablet) {
    // NAVIGATION TABLET MOBILE
    .nav-main-container {
        .nav-sub-container {
            .nav-items {
                position: absolute;
                flex-direction: column;
                top: 86px;
                left: 0;
                right: 0;
            }
            .nav-toggler {
                display: block;
            }
        }
    
    }

    // HOMEPAGE TOP SECTION 2 GALLERY TABLET MOBILE
    .top-section-2 {
        margin: 60px 5px; 

        &-container {
            grid-template-columns: 1fr 1fr; 
            grid-gap: 5px;         
        }
    }

    // ORGANIZATION STARTERS HOMEPAGE SECTION TABLET MOBILE
    .org-starters {

        &-container {

            .person {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }
        }
    }

    // FOOTER MOBILE
    .footer {

        &-container {
            padding: 30px 20px 10px;
        }

        &-logo-text {
            text-align: center;

            img {
                margin: auto;
            }
        }

        &-sub-container {
            align-items: center;
            flex-direction: column;
            text-align: center; 

            .footer-links {
                padding-bottom: 20px; 
            }
        }
    }

    // END FOOTER DESKTOP
    .end-footer {

        &-container {

            p {
                text-align: center;
            }
        }
    }

    // SPONSOR TOP SECTION
    .sponsor {

        &-container {

            h2 {
                text-align: center;
            }

            ul {
                text-indent: 0;
            }
        }
    }

    // SPONSOR HEADHOTS
    .sponsor-intro {

        &-container {
            
            h2 {
                text-align: center;
            }

            .sponsor-headshots {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    // SHOW LOCATION
    .show-location {

        .custom-h2 {
            text-align: center;
        }

        &-container {
            flex-direction: column;
            align-items: center; 
        }
    }
}

// 500PX MOBILE
@media (max-width: $media-mobile) {
    // PACKAGES SECTION HOMEPAGE MOBILE
    .package {

        &-container {
            grid-template-columns: 1fr;
            grid-gap: 15px 15px;
        }
    }

    // SPONSOR HEADHOTS
    .sponsor-intro {

        &-container {

            .sponsor-headshots {
                grid-template-columns: 1fr;
            }
        }
    }

    // ABOUT US HEADER DESKTOP
    .about-header {

        &-top {
            margin: 40px auto;

            p {
                text-align: center;
            }

            h2 {
                text-align: center;
            }

            .about-gallery {

                &-wrapper {
                    grid-template-columns: 1fr;
                }

                img {
                    width: 100%!important;
                }
            }
        }
    }

    // FREQUENLTY ASKED QUESTIONS
    .faqs {

        &-container {

            .custom-h2 {
                text-align: center; 
            }
        }
    }

    
    // SHOW LOCATION
    .show-location {

        .custom-h2 {
            text-align: center;//
        }

        &-container {
            display: flex;
            flex-direction: column;//
            align-items: center; //
            gap: 20px;

            .item {
                display: flex;
                
                i {
                    font-size: 25px;
                    padding-right: 5px;
                    color: $active-button-color;
                }

                &-1 {
                    padding-top: 20px;

                    h3 {
                        padding-bottom: 10px;
                    }

                    i {
                        font-size: 25px;
                        color: $active-button-color;
                        padding: 0 5px 10px 0;
                    }

                    a {
                        color: $main-color;
                        
                        &:hover {
                            color: $active-button-color;
                        }
                    }
                    
                }
            }
            
        }
    }
}

// ANIMATIONS
@keyframes steeringWheel {
    0% {transform: rotate(-10deg)}
    25% {transform: rotate(10deg)}
    50% {transform: rotate(-10deg)}
    75% {transform: rotate(10deg)}
    100% {transform: rotate(-10deg)}
}